Q1. How do you comment code in Python? What are the different types of comments?

With a hash symbol#
1)Single line comments
2)Multi line comments
3)Block comments

Q2. What are variables in Python? How do you declare and assign values to variables?

Python variables is a named location used to store data in the memory.
A variable name must start with a letter or Underscore_
The = symbol is known as the assignment operator

Q3. How do you convert one data type to another in Python?

With the help of 'Type Conversions'

Q4. How do you write and execute a Python script from the command line?

In [26]:
 x = 'hello world'
 print(x)

hello world

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [31]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex number means Combination of both Real and Imaginary number.
It will be represent as j in python

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [32]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable  belong to?

In [33]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the  value of this variable?

In [39]:
name = 'saurabh sahebrao jadhav'
type(name)

str

In [40]:
print(name)

saurabh sahebrao jadhav

Q10. Given the string "Hello, World!", extract the substring "World".

In [44]:
s = "hello,world!"
print(s[6::])

world!

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are  currently a student or not.

In [46]:
'is_student' = True
type('is_student')

SyntaxError: ignored